<div class="cascading-tab-container">
  <svg [attr.width]="svgWidth" height="100vh" #cascadingTabs viewPort="0 0 900 600">

    <!-- therapeutic circle -->
    <g
      *ngFor="let ele of therapeutic_data; let i = index"
      class="opt-circle-list"
    >
      <circle
        class="img-circle-0"
        [attr.r]="ele.isSelected ? 40 : 30"
        [attr.cx]="ele.x"
        [attr.cy]="ele.y"
        (click)="onClickOption(ele, 1)"
        [id]="'circle_' + ele.id"
      />
      <image
        [attr.x]="ele.x - 15"
        [attr.y]="ele.y - 15"
        width="30"
        height="30"
        [attr.href]="ele.image"
        [attr.xlink:href]="ele.image"
        (click)="onClickOption(ele, 1)"
      />

      <text
        class="opt-name"
        [attr.x]="ele.textX"
        [attr.y]="ele.y + 4"
        [attr.font-size]="ele.isSelected ? '22px' : '16px'"
        [attr.text-anchor]="ele.textPosition"
        (click)="onClickOption(ele, 1)"
      >
        {{ isLevel1Selected ? ele.name : ele.displayName }}
      </text>

      <!-- center circle text - title-->
      <text
        x="450"
        [attr.y]="svgCircleRadius1 - 100"
        text-anchor="middle"
        id="center-title"
      >
        PRISM
      </text>
      <text
        x="450"
        [attr.y]="svgCircleRadius1 + 40"
        text-anchor="middle"
        id="center-title-child"
      >
        THERAPEUTIC AREAS
      </text>
    </g>

    <!-- drug circle -->
    <g *ngFor="let ele of drug_data" class="opt-circle-list">
      <circle
        class="img-circle-1"
        [attr.r]="ele.isSelected ? 18 : 12"
        [attr.cx]="ele.x"
        [attr.cy]="ele.y"
        (click)="onClickOption(ele, 2)"
        [id]="'circle_' + ele.id"
      />
      <text
        class="opt-name"
        [attr.x]="ele.x"
        [attr.y]="ele.y + 50"
        [attr.font-size]="ele.isSelected ? '20px' : '16px'"
        text-anchor="middle"
        style="text-transform: capitalize;"
        (click)="onClickOption(ele, 2)"
      >
        {{ ele.name }}
      </text>

      <!-- center circle text - title-->
      <text
        x="450"
        [attr.y]="svgCircleRadius2 + 40"
        text-anchor="middle"
        id="center-title-child"
      >
        DRUGS
      </text>
    </g>
  </svg>
</div>
