<!-- <div>
  <svg width="500" height="500" >
    <circle cx="100" cy="100" r="100" fill="#529fca" />
    <path d="M50,50 a1,1 0 0,0 100,0" fill="blue" />
    <path d="M0,50 a1,1 0 0,0 200,0" fill="red" />
  </svg>
</div> -->

<div style="text-align: center">
  <svg width="900" height="700" viewBox="0 0 900 700" #cascadingTabs >
    <!-- <circle r="450" cx="450" cy="0" fill="grey" /> -->
    <!-- <circle r="300" cx="450" cy="0" fill="yellow" /> -->
    <!-- <circle r="150" cx="450" cy="0" fill="red" /> -->


    <!-- images -->
    <defs *ngFor="let img of level1" >
      <pattern
        [id]="'image'+img.id"
        x="0%"
        y="0%"
        height="100%"
        width="100%"
        viewBox="0 0 512 512"
      >
        <image
          x="0%"
          y="0%"
          width="512"
          height="512"
          [attr.href]="img.icon"
          xlink:href="https://cdn3.iconfinder.com/data/icons/people-professions/512/Baby-512.pg"
        ></image>
      </pattern>
    </defs>

    <text x="450" y="50" text-anchor="middle" fill="black" font-size="16px" font-family="Arial" dy=".3em">CLICK</text>
  </svg>
</div>
