<div style="text-align: center">
  <svg width="100vw" height="100vh" #cascadingTabs>
    <!-- <svg width="100vw" height="100vh" viewBox="0 0 900 700" #cascadingTabs> -->
    <!-- <circle r="450" cx="450" cy="0" fill="grey" /> -->
    <!-- <circle r="300" cx="450" cy="0" fill="yellow" /> -->
    <!-- <circle r="150" cx="450" cy="0" fill="red" /> -->

    <g
      *ngFor="let arr of circularTabList; let i = index"
      class="opt-circle-list"
    >
      <g *ngFor="let ele of arr">
        <circle
          class="img-circle"
          r="20"
          [attr.cx]="ele.x"
          [attr.cy]="ele.y"
          (click)="onClickOption(ele, i)"
          [id]="'circle_' + ele.id"
        />
        <image
          [attr.x]="ele.x - 10"
          [attr.y]="ele.y - 10"
          width="20"
          height="20"
          [attr.href]="ele.icon"
          [attr.xlink:href]="ele.icon"
          (click)="onClickOption(ele, i)"
        ></image>

        <text
          [attr.x]="ele.textX"
          [attr.y]="ele.y"
          text-anchor="middle"
          dy=".3em"
          (click)="onClickOption(ele, i)"
        >
          {{ ele.name }}
        </text>
      </g>
    </g>

    <text
      x="450"
      y="50"
      text-anchor="middle"
      font-size="16px"
      font-family="Arial"
      dy=".3em"
      id="center-title"
    >
      PRISM
    </text>
  </svg>
</div>
