#center-title{
    font-weight: 600;
    fill: #80C4FF;
    font-size: 2rem;
}
.opt-circle-list text{
    fill: white;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 2px 2px 12px #1a3350;
    letter-spacing: 1px;

}

.opt-circle-list .img-circle,image{
    stroke-width: 2;
    stroke : #80C4FF;
    fill: #01457F;
    cursor: pointer;

}

