
<div style="text-align: center">
    <svg width="900" height="700" viewBox="0 0 900 700" #cascadingTabs >
      <!-- <circle r="450" cx="450" cy="0" fill="grey" /> -->
      <!-- <circle r="300" cx="450" cy="0" fill="yellow" /> -->
      <!-- <circle r="150" cx="450" cy="0" fill="red" /> -->
  
      <g *ngFor="let arr of circularTabList;let i=index;">
        <g >
        <circle *ngFor="let ele of arr" 
        r="25" [attr.cx]="ele.x" [attr.cy]="ele.y" stroke-width="2" stroke="black" 
        [attr.fill]="'url(#image'+ele.id+')'"
        (click)="onClickOption(ele,i)" 
        [id]="'circle_'+ele.id" />
      <text *ngFor="let ele of arr" 
       [attr.x]="ele.textX" [attr.y]="ele.y" text-anchor="middle" fill="white" font-size="12px" font-family="Arial" dy=".3em">
       {{ele.name}}
      </text>

      </g>
      </g>


      <g *ngFor="let arr of circularTabList" >
      <defs *ngFor="let img of arr" >
        <pattern
          [id]="'image'+img.id"
          x="0%"
          y="0%"
          height="100%"
          width="100%"
          viewBox="0 0 512 512"
        >
          <image
            x="0%"
            y="0%"
            width="512"
            height="512"
            [attr.href]="img.icon"
            [attr.xlink:href]="img.icon"
          ></image>
        </pattern>
      </defs>
    </g>
      <text x="450" y="50" text-anchor="middle" fill="black" font-size="16px" font-family="Arial" dy=".3em">CLICK</text>
    </svg>
  </div>
  